/* 布局 */
.head {
  height: 70px;
}

.head .el-input {
  width: 220px
}

.head-item {
  display: inline-block;
  margin-right: 10px;
}

.reflash {
  float: right;
}

.pages {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

/* 文字加输入框 */
.input-item {
  width: 100%;
  display: flex;
  align-items: center;
  display: inline-block;
  margin: 10px 0 10px 10px;
}


.input-item .title {
  margin-right: 10px;
  width: 70px;
  display: inline-block;
  margin-bottom: 17px;
}

.input-select .el-input {
  width: calc(100% - 90px);
}

.input-item .el-input {
  width: calc(100% - 90px);
}

.el-select .el-input {
  width: auto;
}

.input-item .el-select {
  width: calc(100% - 90px) !important;
}


.input-item .el-textarea {
  width: calc(100% - 90px) !important;
}

.input-list {
  display: flex;
}

.input-list-item {
  flex: 1
}

/* 输入框左边label */

.item-textarea-label .title {
  margin-top: 7px;
}

.item-textarea-label {
  display: inline-block;
  height: 100%;
}
